body {
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
}

#moveBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#rectangle {
  width: 100px;
  height: 80px;
  background-color: red;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
